.clientData,
.fileLoadForm {
    position:absolute;
    margin-left: auto;
    margin-right: auto;
}

.fileLoadForm {
    width: 360px;
    height: 100px;
    left:0px; right:0px;
    top:50px; bottom:0px;
    text-align:center;
}

.clientData {
    resize: none;
    border: none;
    left:0px; right:0px;
    top:100px; bottom:0px;
}

.botton {
    margin: 5px 5px 0px 0px;
}