<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

    <context-param>
        <param-name>migration.systemname</param-name>
        <param-value>mydb</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            WEB-INF/spring-security.xml
            WEB-INF/spring-context.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.tacitknowledge.util.migration.jdbc.WebAppMigrationLauncher</listener-class>
    </listener>

    <!-- SpringGwt remote service servlet -->
    <servlet>
        <servlet-name>springGwtRemoteServiceServlet</servlet-name>
        <servlet-class>org.spring4gwt.server.SpringGwtRemoteServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileHandler</servlet-name>
        <servlet-class>com.myorg.gwt.common.server.servlets.FileUploadHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>helpServlet</servlet-name>
        <servlet-class>com.myorg.gwt.common.server.servlets.HelpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>springGwtRemoteServiceServlet</servlet-name>
        <url-pattern>/app/springGwtServices/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>helpServlet</servlet-name>
        <url-pattern>/helpPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileHandler</servlet-name>
        <url-pattern>/fileProcessor</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>



</web-app>
